*{
    padding: 0; /* Reset all padding to 0 */
    margin: 0; /* Reset all margin to 0 */
}
 
body{
    background: #DF7401; /* Set HTML background color */
    font: 14px "Lucida Grande";  /* Set global font size & family */
    color: #000000; /* Set global text color */
}
 
p{
    margin: 10px 0px 10px 0px; /* Add some padding to the top and bottom of the <p> tags */
    color: #000000; /* Set header heading(top left title ) color */
}
.navig {
	display: inline;
	top:35px;
	left:0px;
	position : fixed;
	width : 100%;
	background-color:#647995;
	padding-left:12px;
	z-index:3;
	font-size:15px;
}

.navig a{
	color:#183152;
	padding-left:5px;
}
button,input[type=submit]{
	background-color:#647995;
	color:black;
}
.sino{
	display: inline;
	} 
/* Header */
header {
	top:0px;
	left:0px;
	position : fixed;
	width : 100%;
	background-color:#183152;
	padding-left:12px;
	display:block;
	z-index:3;
	font-size:30px;
	color:#DF7401;
}

content {
	position : relative;
	z-index:0;
	top:35px;
	left : 25px;
	 border: 1px solid #183152; /* Small border for the finishing touch */
}

table
{
    border-collapse: collapse; 
	
}

.tableaux td
{
    border: 1px solid #DF7401 ;
	vertical-align: top;
}

p
{
width : 95%;
}
/*wrap*/
#wrap{
    background: #FFFFFF; /* Set content background to white */
    width: 615px; /* Set the width of our content area */
    margin: 0 auto; /* Center our content in our browser */
    margin-top: 50px; /* Margin top to make some space between the header and the content */
    padding: 10px; /* Padding to make some more space for our text */
    border: 1px solid #183152; /* Small border for the finishing touch */
    text-align: center; /* Center our content text */
}
#wrap2{
    background: #FFFFFF; /* Set content background to white */
    width: 80%; /* Set the width of our content area */
    margin: 0 auto; /* Center our content in our browser */
    margin-top: 50px; /* Margin top to make some space between the header and the content */
    padding: 10px; /* Padding to make some more space for our text */
    border: 1px solid #183152; /* Small border for the finishing touch */
    text-align: center; /* Center our content text */
}
 
#wrap h3{
    font: italic 22px Georgia; /* Set font for our heading 2 that will be displayed in our wrap */
    color: #183152; /* Set header heading(top left title ) color */
}


/*Info-bulle  Crédits : http://integrateurinformatique.com/infobulle-sans-javascript-full-css-avec-transparence/# */

span td
{
    border: 0px;
	vertical-align: top;
}

.sinog {
	font-size:34;
	}
.bulle .stat{
	margin-bottom : 5px;
}

.sino span
		{ 
			z-index : 13;
			position:absolute; 
			margin-top:-23px; 
			margin-left:23px; 
			
			color:#FFFFFF;
			background:rgba(0,0,0,.9);
			padding:12px;
			border-radius:3px;
			box-shadow:0 0 2px rgba(0,0,0,.5); 
			
			transform:scale(0);
			rotate(-12deg); 
			
			transition:all .25s;
			opacity:0;
		}
.sino:hover span, .sino:focus span
		{ 
			opacity:100; 
			transform: scale(1);
			rotate(0); 
		}
		
