div {
	display: inline;
}
header {
	top:0px;
	left:0px;
	position : fixed;
	width : 100%;
	background-color:#183152;
	padding-left:12px;
	display:block;
	z-index:3;
	font-size:30px;
	color:#DF7401;
}

content {
	position : relative;
	z-index:1;
	top:35px;
	left : 25px;
}

table
{
    border-collapse: collapse; 
}

td
{
    border: 1px solid #DF7401 ;
	vertical-align: top;
}

p
{
width : 95%;
}